{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

{{!-- <div class="card">
    <div class="card-image"></div>
    <div class="card-content">
        <h2>The Great Gatsby</h2>
        <p>author: Scott Fitzgerald</p>
        <small class="available">available</small>
    </div>
</div> --}}

<div class="container"></div>

<script src="javascripts/script.js"></script>

